#newsOverlay {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    overflow: scroll;
    z-index: 203;
}

#newsPopup {
    padding: 3em 2em 2em;
    margin: auto;
    width: 640px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);

    > p {
        margin: 1em 0 0;
    }

    > a {
        float: right;
    }

    > iframe {
        height: 360px;
    }

    > .close-button {
        width: 44px;
        height: 44px;
        line-height: 44px;
        position: absolute;
        right: 0;
        top: 0;
        text-decoration: none;
        text-align: center;
        color: rgba(255, 255, 255, .65);
        padding: 0 0 18px 10px;
        font-style: normal;
        font-size: 28px;
        font-family: Arial,Baskerville,monospace;
        overflow: visible;
        cursor: pointer;
        display: block;
        outline: 0;
        padding: 0;
    }
}

@media only screen and (max-width: 480px){
    #newsPopup {
        > iframe {
            height: 200px;
        }
    }
}