*.sass-cache*
*Thumb.db*
*.sqlite
public/uploads/photos/
public/uploads/files/
public/packages/
storage/uploads/photos/
storage/uploads/files/
storage/uploads/events/
node_modules/
.idea/
/vendor
.env