<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic">
	<link rel="stylesheet" href="stylesheets/screen.css">
</head>
<body>
	<div class="overal-header">
		<header class="top-header">
			<nav class="nav-bar">
				<h1 class="logo"><a class="logo-link" href="/public"><span>GSV</span></a></h1>
				<ul class="nav-bar-links">
					<li class="top-level-menuitem"><a class="top-level-link" href="home.html">Home</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="over.html">De GSV</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="#">Forum</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="foto-albums.html">Fotoalbum</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="activiteiten.html">Activiteiten</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="word-lid.html">Word lid!</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="#">Inloggen</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div class="column-holder" role="main">
		<h1>Fotogallerij</h1>
		<p class="delta">Krijg een impressie van de meest geweldige studentenvereniging zus en zo en bla die bla. En zus en zo!</p>
		<div class="albums">
			<div class="photo-grid-row">
				<div class="photo-tile first">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/306/306?a" alt="zus" />
						<p class="photo-description">GSV zus en zo</p>
					</a>
				</div>
				<div class="photo-tile">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/306/306?b" alt="zus" />
						<p class="photo-description">Zus en zo <span class="time">12 augustus</span></p>
					</a>
				</div>
				<div class="photo-tile">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/306/306?c" alt="zus" />
						<p class="photo-description">Hier iets</p>
					</a>
				</div>
			</div>
			<div class="photo-grid-row">
				<div class="photo-tile first wide">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/634/306?c" alt="zus" />
						<p class="photo-description">aergaegr</p>
					</a>
				</div>
				<div class="photo-tile">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/306/306?d" alt="zus" />
						<p class="photo-description">GSV zus en zo</p>
					</a>
				</div>
			</div>
			<div class="photo-grid-row">
				<div class="photo-tile first">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/306/306?e" alt="zus" />
						<p class="photo-description">GSV zus en zo</p>
					</a>
				</div>
				<div class="photo-tile">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/306/306?f" alt="zus" />
						<p class="photo-description">Zus en zo</p>
					</a>
				</div>
				<div class="photo-tile">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/306/306?g" alt="zus" />
						<p class="photo-description">Hier iets</p>
					</a>
				</div>
			</div>
			<div class="photo-grid-row">
				<div class="photo-tile first">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/306/306?h" alt="zus" />
						<p class="photo-description">GSV zus en zo</p>
					</a>
				</div>
				<div class="photo-tile wide">
					<a href="fotos.html" class="photo-link" title="zus">
						<img src="http://lorempixel.com/634/306?i" alt="zus" />
						<p class="photo-description">GSV zus en zo</p>
					</a>
				</div>
			</div>
		</div>

		<ul class="pagination">
			<li class="previous disabled"><a href="#">« Nieuwer</a></li>
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li class="next"><a href="#">Ouder »</a></li>
		</ul>
	</div>
	<div class="hero-unit">
		<p class="center"><a href="word-lid.html" class="button">Word lid!</a></p>
	</div>

	<footer class="site-footer">
		<p>Caput sapientiae est reverentia domini</p>
	</footer>
</body>
</html>