<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Test</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic">
	<link rel="stylesheet" href="stylesheets/screen.css">
</head>
<body>
	<div class="overal-header">
		<header class="top-header">
			<nav class="nav-bar">
				<h1 class="logo"><a class="logo-link" href="/public"><span>GSV</span></a></h1>
				<ul class="nav-bar-links">
					<li class="top-level-menuitem"><a class="top-level-link" href="home.html">Home</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="over.html">De GSV</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="#">Forum</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="foto-albums.html">Fotoalbum</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="activiteiten.html">Activiteiten</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="word-lid.html">Word lid!</a></li>
					<li class="top-level-menuitem"><a class="top-level-link" href="#">Inloggen</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<article class="artikel column-holder" role="main">
		<div>
			<h1>Over de GSV</h1>
			<p class="lead">De Gereformeerde Studentenvereniging, de GSV, is een christelijke studentenvereniging met een gereformeerde basis. De vereniging bestaat uit een hechte groep van zo&rsquo;n 200 studenten die elke week bij elkaar komen in bijbelkringen voor Bijbelstudie, maar ook voor een biertje op soos. Binnen de vereniging worden veel activiteiten georganiseerd die passen bij een van de vier pijlers die de GSV karakteriseren: de christelijke, de intellectuele, de sociale en de studentikoze pijler.</p>
		</div>
		
		<aside class="note">
			<b>Elkaar steunen</b> in het dienen van de Here, met name in de studie.
		</aside>
		
		<p>De GSV is opgericht in 1966 en is al zo’n goed 50 jaar d&eacute; academische vereniging met gereformeerde grondslag in Groningen. Als doelstelling heeft de vereniging: &ldquo;elkaar steunen in het dienen van de Here, met name in de studie.&rdquo;</p>
		
		<p>Dit uit zich in de vele verschillende aspecten van de vereniging. We houden bijvoorbeeld bijbelkring en sing-ins om zo God te dienen en samen christen te zijn, maar ook zijn er door het jaar heen lezingen en studiegerelateerde avonden die ook de ruimte bieden voor discussie en verdieping. Het sociale aspect van de vereniging komt naar voren, in het elkaar leren kennen en ontmoeten op soosavonden en feestjes. Het doel van de vereniging is om de Heer te dienen in de academische wereld en elkaar te steunen in het zijn van christen binnen de universiteit. </p>
		
		<div class="article-slideshow-section">
			<div class="article-slideshow-wrapper">
				<a href="#" class="slideshow-nav-button slideshow-nav-left"><span>&lt;</span></a>
				<a href="#" class="slideshow-nav-button slideshow-nav-right"><span>&gt;</span></a>
				<div class="article-slideshow">
					<figure class="article-slide">
						<img src="images/foto.jpg" alt="Mountainbiken">
						<figcaption>Lekker aan het mountainbiken</figcaption>
					</figure>
					<figure class="article-slide">
						<img src="images/foto2.jpg" alt="Mountainbiken">
						<figcaption>Lekker nog iets</figcaption>
					</figure>
				</div>
			</div>
			<ul class="slideshow-nav"></ul>
		</div>
		<p>Hoewel de vereniging vanuit een Gereformeerd vrijgemaakte traditie is opgericht, staat zij open voor alle christenen die het eens kunnen zijn met de gereformeerde basis en grondbeginselen. Zo verwelkomt de vereniging elk jaar rond de 40 nieuwe leden, die meteen een goed begin van hun studententijd hebben bij de GSV. De GSV is naast een gereformeerde ook een academische vereniging. Dit betekent dat alleen universitaire studenten lid kunnen worden van de vereniging. Dit geeft de vereniging haar eigen studentikoze maar ook verdiepende karakter.</p>
<!--		<figure>
			<img src="images/foto2.jpg" alt="Mountainbiken">
			<figcaption>De GSV in 2012</figcaption>
		</figure>
-->
	</article>

	<div class="hero-unit">
		<p class="center"><a href="word-lid.html" class="button">Word lid!</a></p>
	</div>

	<footer class="site-footer">
		<p>Caput sapientiae est reverentia domini</p>
	</footer>

	<script src="javascripts/jquery-1.10.1.min.js"></script>
	<script src="javascripts/slider.js"></script>
	<script src="javascripts/over.js"></script>
</body>
</html>