.back-link {
	float: left;
	display: block;
	width: 22px;
	height: 60px;
	height: 3.33333rem;
	margin-right: 18px;
	background-repeat: no-repeat;
	background-position: left center;
}

.forum-post-data {
	@include clearfix;
	margin-bottom: .5em;
	h6 {
		margin-bottom: 0;
	}
}

.comment {
	padding-top: 2em;
	border-top: 1px solid $lightGrey;
}

.avatar, .like-box {
	float: left;
	margin-right: 1em;
}

.like-box {
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: $darkGrey;
    color: #FFF;
}

.body {
	margin-bottom: 1.5em;

	img {
		max-width: 100%;
	}
}

._post {
	.info {
		font-family: $font-family-sans;
		padding-left: 58px;
	}

	.author {
		display: block;
		line-height: 1;
	}
}

.hidden-form {
	display: none;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding-left: 1em;
	border-left: 4px solid #EEE;
}

img.emo {
	vertical-align: baseline;
}

.forum .body a {

  &:link, &:visited {
    color: #5400B3;
    border-bottom: 2px solid $lightGrey;
  }

  &:hover {
    text-decoration: none;
  }

  &:active, &:focus {
    background: $lightGrey;
  }
}

#reply-form {
  padding: 1em;
  background: $lightGrey;
  position: relative;

  .tab-pane {
    min-height: 300px;
  }
}
.loading-indicator {
  font-family: $font-family-sans;
  transition: all .3s linear;
  top: .2em;
  right: 1em;
  position: absolute;
  opacity: 0;
}
.loading .loading-indicator {
  opacity: 1;
}
.ad-img {
  max-width: 100%;
  height: auto;
}
.stats--former-member, .stats--former-member a {
  color: #CCC;
  background: #FAFAFA;
}

/* LUSTRUM COUNTDOWN TIMER[ */

.lustrum-countdown {
	margin-bottom: 1em;
	width: 275px;
	height: 110px;
}
.lustrum-countdown .countdown-container {
	height: 130px;
}
.lustrum-countdown .time {
	border-radius: 5px;
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
	display: inline-block;
	text-align: center;
	position: relative;
	height: 80px;
	width: 65px;

	perspective: 479px;
	backface-visibility: hidden;
	transform: translateZ(0);
	transform: translate3d(0,0,0);
}
.lustrum-countdown .count {
	background: #202020;
	color: #f8f8f8;
	display: block;
	font-size: 1.8em;
	line-height: 2.4em;
	overflow: hidden;
	position: absolute;
	text-align: center;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
	top: 0;
	width: 100%;

	transform: translateZ(0);
	transform-style: flat;
}
.lustrum-countdown .count.top {
	border-top: 1px solid rgba(255,255,255,0.2);
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-radius: 5px 5px 0 0;
	height: 50%;

	transform-origin: 50% 100%;
}
.lustrum-countdown .count.bottom {
	background-image: linear-gradient(rgba(255,255,255,0.1), transparent);
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	border-radius: 0 0 5px 5px;
	line-height: 0;
	height: 50%;
	top: 50%;

	transform-origin: 50% 0;
}
.lustrum-countdown .count.next {
}
.lustrum-countdown .label {
	font-size: normal;
	margin-top: 5px;
	display: block;
	position: absolute;
	top: 75px;
	width: 100%;
}
/* Animation start */
.lustrum-countdown .count.curr.top {
	transform: rotateX(0deg);
	z-index: 3;
}
.lustrum-countdown .count.next.bottom {
	transform: rotateX(90deg);
	z-index: 2;
}
/* Animation end */
.lustrum-countdown .flip .count.curr.top {
	transition: all 250ms ease-in-out;
	transform: rotateX(-90deg);
}
.lustrum-countdown .flip .count.next.bottom {
	transition: all 250ms ease-in-out 250ms;
	transform: rotateX(0deg);
}
@media screen and (max-width: 48em) {
	.lustrum-countdown {
		width: 100%;
	}
	.lustrum-countdown .countdown-container {
		height: 100px;
	}
	.lustrum-countdown .time {
		height: 70px;
		width: 48px;
	}
	.lustrum-countdown .count {
		font-size: 1.5em;
		line-height: 70px;
	}
	.lustrum-countdown .label {
		font-size: 0.8em;
		top: 72px;
	}
}

/* ]EINDE LUSTRUM COUNTDOWN TIMER */

.online-users-row {
	margin-bottom: 0;
	font-family: $font-family-sans;
}

.online-indicator {
	background: #FF5722;
	border-radius: 100%; 
	height: 12px;
	width: 12px;
	line-height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 6px;
	
	&.online-indicator--online {
		background: #8BC34A;
	}
}
