.back-link {
	float: left;
	display: block;
	width: 22px;
	height: 60px;
	height: 3.33333rem;
	margin-right: 18px;
	background-repeat: no-repeat;
	background-position: left center;
}

.forum-post-data {
	@include clearfix;
	margin-bottom: .5em;
	h6 {
		margin-bottom: 0;
	}
}

.comment {
	padding-top: 2em;
	border-top: 1px solid $lightGrey;
}

.avatar {
	float: left;
	margin-right: 1em;
}

.body {
	margin-bottom: 1.5em;

	img {
		max-width: 100%;
	}
}

._post {
	.info {
		font-family: $font-family-sans;
		padding-left: 58px;
	}

	.author {
		display: block;
		line-height: 1;
	}
}

.hidden-form {
	display: none;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding-left: 1em;
	border-left: 4px solid #EEE;
}

img.emo {
	vertical-align: baseline;
}

.forum .body a:link {
  text-decoration: underline;
}

#reply-form {
  padding: 1em;
  background: $lightGrey;
  position: relative;

  .tab-pane {
	min-height: 300px;
  }
}
.loading-indicator {
  font-family: $font-family-sans;
  transition: all .3s linear;
  top: .2em;
  right: 1em;
  position: absolute;
  opacity: 0;
}
.loading .loading-indicator {
  opacity: 1;
}