.back-link {
	float: left;
	display: block;
	width: 22px;
	height: 60px;
	height: 3.33333rem;
	margin-right: 18px;
	background-repeat: no-repeat;
	background-position: left center;
}

.forum-post-data {
	@include clearfix;
	margin-bottom: .5em;
	h6 {
		margin-bottom: 0;
	}
}

.comment {
	padding-top: 2em;
	border-top: 1px solid $lightGrey;
}

.avatar, .like-box {
	float: left;
	margin-right: 1em;
}

.like-box {
    width: 40px;
    line-height: 40px;
    text-align: center;
    background: $darkGrey;
    color: #FFF;
}

.body {
	margin-bottom: 1.5em;

	img {
		max-width: 100%;
	}
}

._post {
	.info {
		font-family: $font-family-sans;
		padding-left: 58px;
	}

	.author {
		display: block;
		line-height: 1;
	}
}

.hidden-form {
	display: none;
}

.vertical-spacing {
	height: 2em;
}

blockquote {
	margin-left: 0;
	margin-right: 0;
	padding-left: 1em;
	border-left: 4px solid #EEE;
}

img.emo {
	vertical-align: baseline;
}

.forum .body a {

  &:link, &:visited {
    color: #5400B3;
    border-bottom: 2px solid $lightGrey;
  }

  &:hover {
    text-decoration: none;
  }

  &:active, &:focus {
    background: $lightGrey;
  }
}

#forum-editor-form {
  padding: 1em;
  background: $lightGrey;
  position: relative;
  margin-bottom: 0;

  .tab-pane {
    min-height: 300px;
  }

  p {
    margin-bottom: 0em;
  }
}

#forum-editor-controls {
	background: $lightGrey;
	padding: 1em;
	overflow: hidden;
}

#markdown-preview {
	min-height: 13em;
	background-color: #FFF;
	overflow: auto;
	padding: 0 1.2em;
	margin: 0 -1em 1em;
	border: 1px solid #EEE;
}

.loading-indicator {
  font-family: $font-family-sans;
  transition: all .3s linear;
  top: .2em;
  right: 1em;
  position: absolute;
  opacity: 0;
}
.loading .loading-indicator {
  opacity: 1;
}
.ad-img {
  max-width: 100%;
  height: auto;
}
.stats--former-member, .stats--former-member a {
  color: #CCC;
  background: #FAFAFA;
}

.online-users-row {
	margin-bottom: 0;
	font-family: $font-family-sans;
}

.online-indicator {
	background: #FF5722;
	border-radius: 100%; 
	height: 12px;
	width: 12px;
	line-height: 1em;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 6px;
	
	&.online-indicator--online {
		background: #8BC34A;
	}
}

.likers {
	//border: 1px solid black;
	border-radius: 15px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
	margin-bottom: 1.5em;
	position: relative;
	padding: 5px;

	&:hover {
		box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
		cursor: pointer;
	}

	.images {
		display: inline-block;
		width: 60px;

		img {
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
		}

		div {
			display: inline-block;
			width: 40px;
			height: 40px;
			vertical-align: top;
			border-radius: 50%;
			background-color: white;
		}

		div:first-child {
			position: relative;
			z-index: 3;
		}

		div:nth-child(2) {
			position: absolute;
			left: 0.95em;
			z-index: 2;
		}

		div:nth-child(3) {
			position: absolute;
			left: 1.5em;
			z-index: 1;
		}
	}

	.text {
		display: inline-block;
		height: 40px;
		line-height: 40px;
		text-align: center;
		margin-left: 1em;
		vertical-align: top;
	}

	.modal-bg {
		display: none;
		z-index: 100;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0);
		overflow: auto;
		transition: background-color 500ms;
	}

	.modal-content {
		margin: 100vh auto 0 auto;
		padding: 1em;
		width: 80%;
		max-width: 600px;
		background-color: white;
		border-radius: 15px;
		cursor: auto;
		transition: margin-top 500ms ease-in-out;
	}

	.modal-button {
		width: 100%;
		height: 2.5em;
		margin-top: 10px;
		border-radius: 15px;
		border: none;
		background-color: #ededed;
		box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);

		&:hover {
			background-color: #e6e6e6;
			box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
		}
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		border-bottom: 1px solid rgba(0,0,0,0.2);
		padding: 5px 0;
	}

	li:last-child {
		border-bottom: none;
	}
}
