.inline-list {
	margin: 0;
	padding: 0;

	li {
		display: inline;

		&:after {
			content: ' \00b7 ';
		}

		&:last-child:after {
			content: '';
		}
	}

	&.grey {
		color: $darkGrey;

		& a:link, & a:visited {
			color: $darkGrey;
		}
	}
}

.unstyled-list {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.title-description-list {
	margin-bottom: 2em;

	li {
		margin-bottom: 1em;
	}

	.list-description {
		display: block;

		&.grey {
			color: $darkGrey;
		}
	}

	.list-title {
		display: block;
		font-weight: bold;
	}
}

.tags-select-list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline;
	}

	a:link, a:visited {
		background: $lightGrey;	
		margin-bottom: .5em;
		padding: .25em .5em;
		text-decoration: none;
		border: 0;
		font-family: $font-family-sans;
		display: inline-block;

		&.active {
			color: #FFF;
			background: $lighterPurple;
		}

		&.disabled {
			color: $grey;
			cursor: default;
			opacity: .5;
		}
	}
}

// This is a secondary menu which is on the page itself
.secondary-menu {
	list-style-type: none;
	padding: 0;
	margin-top: 18px;

	a, .list-item {
		display: block;
		line-height: 3em;
		border-top: 1px solid $lightGrey;
		font-weight: bold;
	}

	li:last-child a {
		border-bottom: 1px solid $lightGrey;
	}
}

.select-from-list {
	display: none;
}

.media-row {
	@include clearfix;
	padding-top: 18px;
	padding-bottom: 18px;
	position: relative;

	&.img-45 {
		.media-details {
			width: 10%;
			max-width: 45px;
		}

		.img-wrap {
			display: block;
			max-width: 45px;
			min-height: 1px;
			border-radius: 50%;
			border: $darkPurple 0px solid;
			overflow: hidden;
		}

		.media-body {
			width: 90%;
		}
	}

	.media-counter, a.media-counter:link, a.media-counter:visited {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 18px;
		width: 45px;
		line-height: 45px;
		color: lighten($body-copy-color, 30%);
		background: #EEE;
		text-decoration: none;
		display: block;
		border-radius: 50%;
		font-family: $font-family-sans;

		&.small {
			font-size: .7em;
		}
    }
    
    .media-avatar {
        min-height: 45px;
    }

	&.new {
		.media-counter, a.media-counter:link, a.media-counter:visited {
			background: $darkPurple;
			color: #FFF;
		}

		.img-wrap {
			border: #FFF 2px solid;
		}

		.media-details {
			border: $darkPurple 2px solid;
			border-radius: 50%;
		}
	}
	
	.media-details {
		float: left;
		width: 16%;
		max-width: 100px;
		text-align: center;
		box-sizing: border-box;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.media-image {
		@extend .icon-scale;
		width: 100%;
		background-color: #FFF;
	}


	.media-body {
		float: left;
		width: 80%;
		box-sizing: border-box;
		padding-left: 1em;

		h3 {
			margin-bottom: 0;
		}

		.inline-list {
			font-family: $font-family-sans;
		}
	}
}

.media-rows {
	&.has-counters {
		.media-body {	
			padding-right: 50px;
		}
	}
}

@media only screen and (max-width: $firstbreakpoint){
	.js .to-select-box {
		display: none;
	}

	.js .select-from-list {
		display: inline;
	}
}

@media only screen and (max-width: 480px){
	.media-row {
		.media-counter, a.media-counter:link, a.media-counter:visited {
			position: static;
			width: auto;
			line-height: inherit;
			border-radius: 0;
			margin-top: 0;
        }    

        .media-avatar {
            min-height: calc(10vw - #{$column-padding} / 10);
        }
	}

	.media-rows {
		&.has-counters {
			.media-body {
				padding-right: 0;
			}
		}
	}
}