$typl8-headings: (
  h1: typl8-alpha,
  h2: typl8-gamma,
  h3: typl8-delta,
  h4: typl8-epsilon,
  h5: typl8-zeta,
  h6: typl8-zeta
);

$heading-color: $darkPurple;
$typl8-paragraph-spacing: true;
$typl8-custom-font: 'PT serif', 'Segoe UI Emoji';
$typl8-typescale-unit: rem;