//-- Colors
$body-copy-color: #d95635;
$darkPurple: #1a6d4f;
$lightPurple: #d95635;
$lighterPurple: lighten($darkPurple, 20%);
$white: #FFF;
$darkGrey: #AAA;
$grey: #CCC;
$lightGrey: #EEE;

$breakpoint: 960px;
$firstbreakpoint: 1032px;

$column-padding: 36px;

$gsvnet-z-index-base: 200;

$font-family-serif: 'PT Serif', serif;
$font-family-sans: 'PT Sans', sans-serif;