#pops_dl-bar {
  background-color: #fafafa;
  border-top: 1px solid #bbb;

  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #555;
  word-break: break-word;
  user-select: none;
  z-index: 1000;

  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 4em;

  @media only screen and (min-width: 1000px) {
    font-size: 14px;
    line-height: 2em;
  }

  .pops_message {
    flex: 1 1 10em;
    position: relative;
    line-height: 1.6em;
    padding-left: 0.5em;

    @media only screen and (min-width: 1000px) {
      flex-grow: 0;
      line-height: 1.8em;
      padding: 0.2em 0;
      flex-basis: 22.9em;
    }
  }

  .pops_icon {
    position: relative;
    color: rgb(180,0,0);
    flex-shrink: 0;
    display: none;
    padding: 0 .8em;

    @media only screen and (min-width: 1000px) {
      display: block;
    }

    span {
      vertical-align: bottom;
    }
  }

  .pops_mobile-double {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    .pops_icon {
      display: block;
      line-height: 1em;
      
      span {
        font-size: 40px;
      }

      @media only screen and (min-width: 1000px) {
        display: none;
      }
    }
  }

  .pops_button {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: .5em .5em;
    color: #555;
    font-weight: 500;
    margin: 0 0.5em 0 0.5em;

    @media only screen and (min-width: 1000px) {
      padding: .8em .9em;
    }

    &:hover {
      text-decoration: none;
      background: rgba(0,0,0,.05);
      cursor: pointer;
    }

    &:active, &:focus, &:visited {
      background: rgba(0,0,0,.1);
      outline: 0;
    }
  }
}

#pops_warn {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgb(200, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #555;
  user-select: none;
  overflow-y: scroll;

  @media only screen and (min-width: 1000px) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  .pops_warn-wrapper {
    margin: 2em auto;
    background: #FFF;
    width: 85%;
    //margin: 50px auto;
    border-radius: 4px;

    @media only screen and (min-width: 1000px) {
      margin: 0;
      width: 40%;
    }
  }

  .pops_warn-header {
    color: rgb(200, 40, 40);
    //font-weight: 500;
    font-size: 28px;
    padding: .5em;

    .material-icons {
      font-size: 36px;
      vertical-align: text-bottom;
      margin-right: .4em;
    }
  }

  .pops_warn-content {
    padding: 1em;
  }

  .pops_warn-grey {
    padding: 1em;
    background: #DDD;
    border-radius: 0 0 4px 4px;

    p:last-of-type{
      margin: 0;
    }
  }

  .pops_link {
    text-decoration: underline;
    
    &:hover {
      cursor: pointer;
    }
  }
}
