.event-row {
	@include clearfix;
	margin-bottom: 18px;
	padding-bottom: 18px;

	&:last-child {
		border-bottom: 0;
	}

	&.small-image {
		.event-details {
			width: 10%;
			max-width: 60px;
		}
	}
	.event-details {
		float: left;
		width: 16%;
		max-width: 100px;
		text-align: center;
		box-sizing: border-box;

		img {
			max-width: 100%;
			height: auto;
		}
	}

	.event-image {
		@extend .icon-scale;
		width: 100%;
		background-color: #FFF;
	}


	.event-body {
		float: left;
		width: 80%;
		box-sizing: border-box;
		padding-left: 1em;

		h3 {
			margin-bottom: 0;
		}
	}
}

.single-event-details {
	min-height: 200px;
	padding: 1em;

	// place holders 
	&.intellectual {
		background: purple;
		color: white;
	}

	&.social {
		background: gold;
	}

	&.collegiate {
		background: blue;
		color: white;
	}

	&.christian {
		background: green;
		color: white;
	}
}