.event-row {
	@include clearfix;
	margin-bottom: 18px;
	padding-bottom: 18px;
	border-bottom: 1px solid $lightGrey;

	&:last-child {
		border-bottom: 0;
	}

	.img {
		width: 126px;
		height: 126px;
		background: #CCC;
		float: left;
		margin-right: 18px;
	}

	.info {
		float: left;
		width: 343px;

		p {
			margin: 0;
		}
	}

	p.time {
		float: left;
		background: $darkPurple;
		color: #FFF;
		padding: 18px;
		width: 90px;
		height: 90px;
		margin: 0 18px 0 0;
	}

	.event-details {
		float: left;
		width: 16%;
		background: $lightGrey;
		text-align: center;
		box-sizing: border-box;
	}

	.event-image {
		@extend .icon-scale;
		width: 100%;
		background-color: #FFF;
	}

	.event-body {
		float: right;
		width: 80%;

		h3 {
			margin-bottom: 0;
		}
	}
}

.single-event-details {
	min-height: 200px;
	padding: 1em;

	// place holders 
	&.intellectual {
		background: purple;
		color: white;
	}

	&.social {
		background: gold;
	}

	&.collegiate {
		background: blue;
		color: white;
	}

	&.christian {
		background: green;
		color: white;
	}
}