.forum-post-data {
	@include clearfix;
	margin-bottom: 1em;
	h6 {
		margin-bottom: 0;
	}
}

.thread {
	.forum-post-data {
		background: $lightGrey;
		padding: 1em;
	}
}

.reply-form {
	margin-top: 2em;
}

.comment {
	margin-top: 1em;
	border-top: 1px solid $lightGrey;
	padding-top: 1em;
}

.avatar {
	float: left;
	margin-right: 1em;
}