.form-group {
	margin-bottom: 1em;
	font-family: $font-family-sans;
}


.control-label {
	cursor: pointer;
	display: block;
	font-weight: bold;
}

.radio {
	margin-right: 1em;
	cursor: pointer;

	input {
		margin-right: .2em;
	}
}

.form-control {
	padding: .2em .5em;
	border: 1px solid $grey;
}

textarea.form-control {
	width: 100%;
	box-sizing: border-box;
}

.has-error {
	.control-label {
		color: #b94a48;
	}
	
	.form-control {
		border-color: #b94a48;
	}

}

.form-row-horizontal {

	.form-group {
		display: inline-block;
	}
}

.help-block {
	font-style: italic;
	margin-left: 1em;
}

.inline-form-row {
	.form-control, .form-group {
		display: inline-block;
	}
	font-family: $font-family-sans;
}

// SPECIFIC FORMS

#user-search-form-toggler {
	display: none;
}

@media only screen and (max-width: $firstbreakpoint){

	#user-search-form-toggler {
		display: inline;
	}

	.js #user-search-form {
		display: none;

		&.visible {
			display: block;
		}
	}
}