.forum-post-data {
	@include clearfix;
	margin-bottom: 2em;
	h6 {
		margin-bottom: 0;
	}
}

.thread {
	.forum-post-data {
		background: $lightGrey;
		padding: 1em;
	}
}

.reply-form {
	margin-top: 2em;
}

.comment {
	margin-top: 2em;
	border-top: 1px solid $lightGrey;
	padding-top: 2em;
}

.avatar {
	float: left;
	margin-right: 1em;
}

.markdown {
	img {
		max-width: 100%;
	}
}

._post {
	.info {
		font-family: $font-family-sans;
	}
}

blockquote {
	margin-left: 0;
	padding-left: 1em;
	border-left: 4px solid #EEE;
}