.inline-list {
	margin: 0;
	padding: 0;

	li {
		display: inline;

		&:after {
			content: ' \00b7 ';
		}

		&:last-child:after {
			content: '';
		}
	}
}

.unstyled-list {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
}

.title-description-list {
	margin-bottom: 2em;

	li {
		margin-bottom: 1em;
	}

	.list-description {
		display: block;

		&.grey {
			color: $darkGrey;
		}
	}

	.list-title {
		display: block;
		font-weight: bold;
	}
}


// This is a secondary menu which is on the page itself
.secondary-menu {
	list-style-type: none;
	padding: 0;
	margin-top: 18px;

	a, .list-item {
		display: block;
		line-height: 3em;
		border-top: 1px solid $lightGrey;
		font-weight: bold;
	}

	li:last-child a {
		border-bottom: 1px solid $lightGrey;
	}
}

.select-from-list {
	display: none;
}


@media only screen and (max-width: $firstbreakpoint){
	.js .to-select-box {
		display: none;
	}

	.js .select-from-list {
		display: inline;
	}
}