.nav-bar {
	@include container;
	@include clearfix;
	padding: 0;
}

.nav-bar-extras {
	@include clearfix;
	padding: 1em 0;
}

.logo {
	display: block;
	margin: 0;
	text-align: center;
	float: left;
	background: #FFF;
}

.logo-link {
	display: block;
	width: 180px;
	height: 90px;
	background: url(../images/logo-90.png) no-repeat center center;
}

.logo-link span {
	display: none;
}

.nav-bar-links {
	@include clearfix;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.top-level-link {
	text-decoration: none;
	line-height: 90px;
	padding: 0 .8em;
	display: block;
	border-left: 1px solid #DDD;
}

.active-menu, a.active-menu:link, a.active-menu:visited {
	background: $darkPurple;
	color: #FFF;
	position: relative;

	&:after {
		background: transparent url('../images/nav-main-active.png') no-repeat 50% 50%;
		width: 100%;
		height: 11px;
		content: "";
		display: block;
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.top-level-menuitem {
	display: block;
	float: left;
}

.nav-toggle {
	background: $lightPurple;
	padding: 9px 10px;
	border: 0;
	display: none;
	float: right;
	margin-top: 2.5em;

	&:hover {
		background: $lighterPurple;
	}

	.icon-bar {
		width: 22px;
		height: 2px;
		background: #FFF;
		display: block;
	}

	.icon-bar + .icon-bar {
		margin-top: 4px;
	}
}

.secondary-menu {
	list-style-type: none;
	padding: 0;
	margin-top: 18px;

	a {
		display: block;
		line-height: 3em;
		border-top: 1px solid $lightGrey;
		font-weight: bold;
	}

	li:last-child a {
		border-bottom: 1px solid $lightGrey;
	}
}


/** Responsive **/
@media only screen and (max-width: 960px){
	.logo {
		margin: 18px 0;
	}

	.nav-bar {
		padding: 0 2em;
	}

	.top-level-link:link,
	.top-level-link:visited,
	.top-level-menuitem:first-child .top-level-link:link {
		background: $darkPurple;
		color: #FFF;
		padding: 0 1em;
		margin-bottom: .2em;
	}

	.nav-toggle {
		display: block;
	}

	.nav-bar-links {
		display: none;
		margin-bottom: 1em;
	}
}