.nav-bar {
	@include container;
	@include clearfix;
	padding: 0;
}

// This is the wrapper of the toggle icon for the mobile menu
.nav-bar-extras {
	position: absolute;
	right: 2em;
	top: 32px;
	z-index: 2000;
}

.logo {
	display: block;
	margin: 0;
	text-align: center;
	float: left;
	background: #FFF;
}

.logo-link {
	display: block;
	width: 180px;
	height: 90px;
	background: url(../images/logo-90.png) no-repeat center center;
}

.logo-link span {
	display: none;
}

.nav-bar-links {
	@include clearfix;
	margin: 0;
	padding: 0;
	list-style-type: none;
	z-index: 1998;
	-webkit-transition: max-height 0.26s ease;
}

.top-level-link {
	text-decoration: none;
	padding: 0 .8em;
	display: inline-block;
	border-left: 1px solid #DDD;
	line-height: 90px;
}

.has-sub-menu .top-level-link {
	padding-right: 3px;
}

.active-menu {
	background: $darkPurple;
	color: #FFF;

	& a:link, & a:visited {
		color: #FFF;
	}

	&:after {
		background: transparent url('../images/nav-main-active.png') no-repeat 50% 50%;
		width: 100%;
		height: 11px;
		content: "";
		display: block;
		position: absolute;
		bottom: -10px;
		left: 0;
		right: 0;
		z-index: 1;
	}
}

.top-level-menuitem {
	display: block;
	float: left;
	position: relative;
	height: 90px; /* vanwege een bug in chrome */
}

.top-caret {
	display: inline-block;
	cursor: pointer;
	padding: 0 7px 0 4px;
	line-height: 90px; /* bugged */
	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.active-menu.active-sub-menu .top-caret {
	background: $lightPurple;
}

.active-sub-menu .top-caret {
	background: $grey;
}

.nav-toggle {
	background: $lightPurple;
	padding: 9px 10px;
	border: 0;
	display: none;
	float: right;
	
	&:hover {
		background: $lighterPurple;
	}

	.icon-bar {
		width: 22px;
		height: 2px;
		background: #FFF;
		display: block;
	}

	.icon-bar + .icon-bar {
		margin-top: 4px;
	}
}

/** Top Sub menu **/
.sub-level-menu {
	position: absolute;
	top: 90px;
	left: 0;
	list-style-type: none;
	padding: 0;
	background: #FFF;
	z-index: 1999;
	width: 200px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
	max-height: 0;
	height: 0;
	overflow: hidden;
	transition: max-height 0.26s ease;
	-webkit-transition: max-height 0.26s ease;
}

.active-sub-menu .sub-level-menu{
	max-height: 300px;
	height: auto;
}

.sub-level-link, a.sub-level-link:link, a.sub-level-link:visited {
	display: block;
	padding: 0 .8em;
	line-height: 3;
	border: 1px solid $lightGrey;
	border-top: 0;
	color: $body-copy-color;
}


// This is a secondary menu which is on the page itself
.secondary-menu {
	list-style-type: none;
	padding: 0;
	margin-top: 18px;

	a, .list-item {
		display: block;
		line-height: 3em;
		border-top: 1px solid $lightGrey;
		font-weight: bold;
	}

	li:last-child a {
		border-bottom: 1px solid $lightGrey;
	}
}


/** Responsive **/
@media only screen and (max-width: $firstbreakpoint){
	.nav-bar {
		padding: 0 2em;
	}

	.logo-link {
		width: 90px;
	}

	.top-caret {
		display: block;
		float: right;
		text-align: center;
		padding: 0;
		width: 14%;
	}

	.top-level-link:link,
	.top-level-link:visited {
		background: $darkPurple;
		color: #FFF;
		border: 0;
		display: block;
		float: left;
		padding: 0 0 0 4%;
		width: 82%;
	}

	.sub-level-menu {
		width: 100%;
		position: static;
	}

	.nav-toggle {
		display: block;
	}

	.nav-bar-links {
		max-height: 0;
		height: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: $darkPurple;
	}

	.main-menu-active {
		max-height: 1000px;
		height: auto;
		padding-top: 92px;
		-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.5);
		-moz-box-shadow: 0 0 50px rgba(0,0,0,0.5);
		box-shadow: 0 0 50px rgba(0,0,0,0.5);
	}

	.active-menu:after {
		background: 0;
		width: auto;
		height: 0;
		overflow: hidden;
		content: "";
		display: block;
		position: static;
		bottom: auto;
		left: auto;
		right: auto;
		z-index: auto;
	}

	.top-level-menuitem {
		@include clearfix;
		float: none;
		display: block;
		height: auto;
	}
}


@media only screen and (max-width: 480px){
	.nav-bar {
		padding: 0 1em;
	}

	.nav-bar-extras {
		right: 1em;
	}
}