.photo-tile {
	margin: 0 18px 18px 0;
	float: left;
	width: 308px;
	height: 308px;
	overflow: hidden;
	position: relative;

	img {
		vertical-align: bottom;
	}

	&.wide {
		width: 634px;
	}

	&.last-3 {
		margin-right: 0;
	}

	.photo-description {
		margin: 0;
		text-align: center;
		line-height: 308px;
	}
}

.albums {
	@include clearfix;
	.photo-link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 620px;
	    transition: all 0.2s ease;

		&:hover {
			top: -312px;
		}
	}	
}

@media only screen and (max-width: 961px){

	.photo-tile {

		&.last-3 {
			margin-right: 18px;
		}

		&.last-2 {
			margin-right: 0;
		}
	}
}


@media only screen and (max-width: 723px){
	.photo-tile{
		max-width: 308px;

		&.wide {
			max-width: 308px;
			overflow: hidden;
		}

		&.last-3 {
			margin-right: 0;
		}

		&.last-2 {
			margin-right: 0;
		}
	}
}