.photo-grid-row {
	@include clearfix;
	margin-bottom: 18px;
}

.photo-tile {
	margin-left: 18px;
	float: left;
	width: 308px;
	height: 308px;
	overflow: hidden;
	position: relative;

	&.first {
		margin-left: 0;
	}

	img {
		vertical-align: bottom;
	}

	&.wide {
		width: 634px;
	}

	.photo-description {
		margin: 0;
		text-align: center;
		line-height: 308px;
	}
}

.albums {
	.photo-link {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 620px;
	    transition: all 0.2s ease;

		&:hover {
			top: -312px;
		}
	}	
}