.user-profile-list, .user-details-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.user-profile-item {
	@include clearfix;
	margin-bottom: 1em;

	.profile-image {
		float: left;
		padding-right: 1em;
		box-sizing: border-box;
		width: 23%;
		max-width: 120px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.user-details {
		width: 77%;
		float: right;
		box-sizing: border-box;
		overflow: hidden;
		white-space: nowrap;
	}
	
	h3 {
		margin-bottom: 0;
	}
}

@media only screen and (max-width: $firstbreakpoint){
	.user-profile-item {
		border-bottom: 1px solid $grey;
		padding-bottom: 1em;
	}
}