//-- Colors
$body-copy-color: #444;
$heading-color: #222;
$darkPurple: #2A1443;
$lightPurple: lighten($darkPurple, 15%);
$lighterPurple: lighten($darkPurple, 20%);
$white: #FFF;
$darkGrey: #AAA;
$grey: #CCC;
$lightGrey: #EEE;

$breakpoint: 960px;
$firstbreakpoint: 1032px;