.button, a.button {
	background: $lightPurple;
	color: #FFF;
	//padding: $font-base 2*$font-base;
	padding: 1rem 2rem;
	text-decoration: none;
	border: 0;

	&:link {
		color: #FFF;
	}

	&:hover {
		background: $lighterPurple;
	}

	&:active {
		-moz-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
		-webkit-box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
		box-shadow: inset 0px 0px 3px rgba(0,0,0,0.5);
	}
}