.hero-unit {
	padding: 6em 0;
	margin: 2em 0;
	background: $darkPurple;
	color: #FFF;
}

.hero-unit h2 {
	color: #FFF;
}

.hero-unit input[type=text] {
	border: 0;
}

.hero-unit .center {
	margin: 0;
	text-align: center;
}