.nav-bar {
	@include container;
	list-style-type: none;
	padding: 0;
}

.logo {
	display: block;
	margin: 0;
	text-align: center;
}

.logo-link {
	display: inline-block;
	width: 90px;
	height: 90px;
	background-image: url(../images/logo-90.png);
	margin-top: 18px;
	margin-top: 1rem;
}

.logo-link span {
	display: none;
}

.nav-bar-links {
	margin: 0;
	padding: 0;
}

.top-level-link {
	text-decoration: none;
	line-height: 2.5em;
	padding: 0 1em;
	display: inline-block;
}

.top-level-menuitem {
	display: inline-block;

	&:first-child .top-level-link {
		padding-left: 0;
	}
}


/** Responsive **/
@media only screen and (max-width: 960px){
	.nav-bar-links {
		padding: 0 2em;
		margin: 1em 0;
	}

	.top-level-link:link,
	.top-level-link:visited,
	.top-level-menuitem:first-child .top-level-link:link {
		background: $darkPurple;
		color: #FFF;
		padding: 0 1em;
		margin-bottom: .2em;
	}
}